AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
AWS_REGION=eu-west-1
MLFLOW_URL=http://0.0.0.0:5000
MLFLOW_TRACKING_URI=http://0.0.0.0:5000
MLFLOW_S3_ENDPOINT_URL=http://0.0.0.0:9000
SOURCE_POSTGRES_USER=
SOURCE_POSTGRES_PASS=
SOURCE_POSTGRES_HOST=0.0.0.0
SOURCE_POSTGRES_PORT=5434
DESTINATION_POSTGRES_USER=
DESTINATION_POSTGRES_PASS=
DESTINATION_POSTGRES_HOST=0.0.0.0
DESTINATION_POSTGRES_PORT=5434
AWS_BUCKET_NAME=mlflow
HOST=0.0.0.0
MLFLOW_PORT=5000
MP_MLFLOW_DIR=./mlflow
DST_PATH=".tmp_models/"