AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
MLFLOW_S3_ENDPOINT_URL=http://127.0.0.1:9000
MLFLOW_TRACKING_URI=http://127.0.0.1:5000
MLFLOW_URL=http://127.0.0.1:5000
POSTGRES_USER=
POSTGRES_PASS=
POSTGRES_HOST=
POSTGRES_PORT=
INFERENCE_POSTGRES_USER=
INFERENCE_POSTGRES_PASS=
INFERENCE_POSTGRES_HOST=
INFERENCE_POSTGRES_PORT=